@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-main-bg: #eae7d6;
  --color-secondary-bg: #c0c5b5;
  --color-main-text: #173a31;
}

body {
  font-family: "Fredoka", system-ui, sans-serif;
}

#board {
    position: relative;
}

.tile {
  position: absolute;
  cursor: pointer;
  user-select: none;
}

.tile:hover {
    box-shadow: 0 0 0 2px rgba(255,255,255,.5);
}